.job-application-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.job-application-navbar {
  height: 119px;
}
.job-application-max-width {
  height: 77px;
  align-self: flex-end;
  background-color: #ffffff;
}
.job-application-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.job-application-image {
  width: 415px;
  height: 141px;
  transform: scale(0.8);
  object-fit: cover;
  margin-right: auto;
  object-position: center;
}
.job-application-links {
  flex: 1;
  width: 745px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-end;
  margin-bottom: 8px;
  justify-content: flex-end;
}
.job-application-home {
  color: var(--dl-color-scheme-green80);
  font-size: 20px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 7px;
  text-transform: none;
  text-decoration: none;
}
.job-application-ourservicestext {
  color: var(--dl-color-scheme-green80);
  font-size: 20;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 7px;
  text-transform: none;
  text-decoration: none;
}
.job-application-careerstext {
  color: var(--dl-color-scheme-green80);
  font-size: 20px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 7px;
  text-transform: none;
  text-decoration: none;
}
.job-application-reviewstext {
  color: var(--dl-color-scheme-green80);
  font-size: 20px;
  font-style: normal;
  font-family: Titillium Web;
  font-weight: 600;
  line-height: 1.5;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: 7px;
  text-transform: none;
  list-style-type: disc;
  text-decoration: none;
  list-style-image: none;
  list-style-position: outside;
}
.job-application-link {
  height: 45px;
  display: flex;
  font-size: 20px;
  align-self: auto;
  text-align: center;
  transition: 0.3s;
  padding-top: 9px;
  border-color: #154b87;
  text-decoration: none;
  background-color: #154b87;
}
.job-application-link:hover {
  color: #021616;
  background-color: #c4d6ea;
}
.job-application-burger-menu {
  fill: #105749;
  width: 24px;
  height: 24px;
}
.job-application-form {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.job-application-text {
  font-size: 3rem;
  align-self: flex-start;
  text-align: center;
}
.job-application-text01 {
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.job-application-footer {
  width: 100%;
  height: 382px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.job-application-links-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.job-application-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.job-application-text05 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.job-application-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-text09 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-text10 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-container3 {
  width: 96px;
}
.job-application-text11 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.job-application-text12 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-text13 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-text14 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.job-application-container4 {
  width: 647px;
}
.job-application-text17 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.job-application-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
@media(max-width: 991px) {
  .job-application-footer {
    height: fit-content;
    flex-direction: column;
  }
  .job-application-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    flex-direction: row;
  }
  .job-application-container1 {
    height: fit-content;
    flex-wrap: wrap;
    margin-right: 0px;
  }
  .job-application-container4 {
    height: fit-content;
  }
}
@media(max-width: 767px) {
  .job-application-links {
    display: none;
  }
  .job-application-icon {
    fill: var(--dl-color-scheme-green100);
  }
  .job-application-form {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .job-application-text01 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .job-application-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .job-application-links-container {
    width: auto;
    margin-top: var(--dl-space-space-twounits);
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .job-application-container1 {
    width: 100%;
    justify-content: space-between;
  }
  .job-application-container4 {
    height: fit-content;
  }
}
@media(max-width: 479px) {
  .job-application-navbar {
    height: fit-content;
    max-height: 20%;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .job-application-image {
    width: 354px;
    height: var(--dl-size-size-medium);
    transform: scale(0.8);
    align-self: stretch;
    object-fit: scale-down;
  }
  .job-application-icon {
    transform: scale(2);
    padding-right: var(--dl-space-space-unit);
  }
  .job-application-form {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .job-application-footer {
    padding: var(--dl-space-space-unit);
  }
  .job-application-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .job-application-container1 {
    align-items: center;
    margin-right: 0px;
    justify-content: space-between;
  }
  .job-application-container4 {
    height: fit-content;
  }
}
